<head>
    <link rel="icon" href="/img/face.png">
    <title>George Tong | Credits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div style="position:fixed; width:100%; height:100%; color: white; min-height: 100%">
<!--    navbar-->
{{>navbar}}

<!--    content-->
<div style="padding-left: 2%">
    <h1 style="padding-bottom: 20px;">Credits</h1>
    <a href='https://www.freepik.com/vectors/technology'>Technology vector created by vectorpouch - www.freepik.com</a>
</div>
</div>

<!--footer-->
<div style="position: absolute;bottom: -100px;height: 100px;width: 100%;">
{{>footer}}
</div>
{{>socialbar}}
</body>
