<!Doctype html>
<html>
<head>
    <meta name="description" content="I am a student in the UK who enjoys using technology to make websites, develop apps, and programme hardware.">
    <link rel="icon" href="/img/face.png">
    <title>George Tong</title>
    <script src="https://kit.fontawesome.com/e32af829a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="main">
    {{>navbar}}
    {{>socialbar}}
    <img class="dev-work-img" src="/img/developer-working.svg" alt="">
    <h1 class="spot-heading">Hello,<br>I am<br>George.</h1>

</div>
<div class="footer">
{{>footer}}
</div>
</body>

</html>