<head>
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
</head>

<div class="footer-div">
    <h5><a href="/credits">CREDITS</a> · <a href="/contact">CONTACT</a></h5>
    <h5>Created with ❤ by George in Express.</h5>
    <h5>© Copyright <span id="year"><script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script></span> George Tong.</h5>
    <h5>All Rights Reserved.</h5>
</div>